.asideLayout {
    display: flex;
    height: calc(100vh - 54px);
    
    & > aside {
        min-height: calc(100vh - 54px);
        width: 30vw;
        padding: 1rem;
        background-color: var(--medium-gray);
        
    }
    & > section {
        width: 100%;
        padding-left: 1.5rem;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    @media only screen and (max-width: 960px) {
        flex-direction: column;
        height: calc(100vh - 92px);
        & > aside {
            min-height: 180px;
            
            width: 100%;
            & > div {
                width: 100%;
                text-align: center;
                select {
                    margin: 0 auto;
                }
            }
        }

        & > section {
            h1 {
               text-align: center; 
            }
            height: 100%;
        }
    }
}
