:root {
  --white: #f2f2f2;
  --black: #0d0d0d;
  --gray: rgb(20, 20, 20);
  --medium-gray: #828282;
  --light-gray: #d1d1d1;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}